<h3>お気に入りアーティスト</h3>
    <% @favariteartists.each do |product| %>

          <%= link_to artist_path(product.id) do %>
              <%= attachment_image_tag product, :image %>
              <%= artist.artist_name %>
          <% end %>