<div class="container-fluid about">
	<div class="info">
		<div class="info-image">
			<%= image_tag("logo22.png", :size => "220x220", :alt => "logo") %>
		</div>
		<div class="info-title">
			About
		</div>
	</div>
</div>

<%= render "partial/flash" %>

<div class="container">
	<div class="row top">
    <div class="col-md-offset-4 col-md-4 col-xs-offset-1 col-xs-10">
			<div class="about-title line">
				ロックを楽しむすべての人へ
			</div>
			<div class="about-body">
				このアプリでは<br>
				ライブ・フェスの感動を共有することができます<br>
				感動を共有した仲間のお気に入りアーティストをチェックすることで<br>
				新たなアーティストを発見できます
			</div>
		</div>
	</div>
</div>