<div class="container">
	<h2>User一覧</h2>
<table class="table table-striped">
	<thead>
		<tr>
			<th>名前</th>
			<th>メールアドレス</th>
			<th></th>
		</tr>
	</thead>

	<% @users.each do |user| %>
	<tbody>
		<tr>
			<td><%= user.user_name %></td>
			<td><%= user.email %></td>
			<td><%= link_to "詳細", user_path(user) %>
				<%= link_to "削除", user_path(user), method: :delete %>
			</td>
		</tr>
	</tbody>
	<% end %>
</table>
</div>
