<div class="container">
  <p>ライブ詳細</p>


    <h4>コメント</h4>



    <div id="comments_area"><!-- このidをターゲットにして、このdiv内をAjaxで書き換える -->
      <!-- 投稿されたコメント一覧を表示するためのrender -->
      <%= render partial:'lives/index', locals: {live: @live, artist: @artist } %>
    </div>
    <% if user_signed_in? %>
      <!-- コメント入力欄を表示するためのrender -->
      <%= render partial:'lives/form', locals: { comment: @comment, live: @live, artist: @artist } %>
    <% end %>

  <%= link_to "戻る", artist_path(@artist.id)%>
</div>


